<% comments.each do |comment| %>
    <div class="question-comments">
        <%= comment.description %></span>
        <span class="question-description">Comentario realizado por <%= comment.user.name %></span>
    
<% end %>